<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mpetk.taskme">


    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ikona"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BrisanjeKlijenata" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Delete client"></activity>
        <activity android:name=".PrikazKlijenata" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Client overview"></activity>
        <activity android:name=".EvidencijaAktivnogZadatka"  android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Edit log"></activity>
        <activity android:name=".PrikazZadatkaZaposlenik" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Show more"></activity>
        <activity android:name=".BrisanjeKorisnika" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Delete user"></activity>
        <activity android:name=".BrisanjeZadatka" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Delete task"></activity>
        <activity android:name=".DodjelaZadatka" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Asign task"></activity>
        <activity android:name=".EvidentirajObavljeniPosao" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Create task log"></activity>
        <activity android:name=".Home" android:windowSoftInputMode="stateHidden" android:label="Home-admin" android:noHistory="true"></activity>
        <activity android:name=".HomeZaposlenik" android:windowSoftInputMode="stateHidden" android:label="Home-employee" android:noHistory="true"></activity>
        <activity android:name=".IzmjenaKlijenata" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Modify client"></activity>
        <activity android:name=".IzmjenaKorisnika" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Modify user"></activity>
        <activity android:name=".IzmjenaZadatka" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Modify task"></activity>
        <activity android:name=".KreiranjeKlijenta" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Create client"></activity>
        <activity android:name=".KreiranjeKorisnika" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Create employee"></activity>
        <activity android:name=".KreiranjeZadatak" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Create task"></activity>
        <activity android:name=".PretragaKlijenata" android:windowSoftInputMode="stateHidden" android:label="Search clients"></activity>
        <activity android:name=".PretragaKorisnika" android:windowSoftInputMode="stateHidden" android:label="Search employees"></activity>
        <activity android:name=".PretragaIzvjestaja" android:windowSoftInputMode="stateHidden" android:label="Search reports"></activity>
        <activity android:name=".PretragaZadataka" android:windowSoftInputMode="stateHidden" android:label="Search tasks"></activity>
        <activity android:name=".ZadaciZaposlenika" android:windowSoftInputMode="stateHidden" android:label="Search tasks"></activity>
        <activity android:name=".PrikazKorisnika" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Employee overview"></activity>
        <activity android:name=".PrikazZadatka" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="Task overview"></activity>
        <activity android:name=".MyTasks" android:windowSoftInputMode="stateHidden" android:label="My tasks"></activity>
        <activity android:name=".FinnishedTask" android:windowSoftInputMode="stateHidden" android:label="Finnished tasks"></activity>
        <activity android:name=".MojProfil" android:windowSoftInputMode="stateHidden" android:noHistory="true" android:label="My profile"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
