<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mpetk.taskme">


    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BrisanjeKlijenata" android:windowSoftInputMode="stateHidden" android:noHistory="true"></activity>
        <activity android:name=".PrikazKlijenata" android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".BrisanjeKorisnika" android:windowSoftInputMode="stateHidden" android:noHistory="true"></activity>
        <activity android:name=".BrisanjeZadatka" android:windowSoftInputMode="stateHidden" android:noHistory="true"></activity>
        <activity android:name=".DodjelaZadatka" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".EvidentirajObavljeniPosao" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".Home" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".HomeZaposlenik" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".IzmjenaKlijenata" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".IzmjenaKorisnika" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".IzmjenaZadatka" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".IzmjeniObavljeniPosao" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".KreiranjeKlijenta" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".KreiranjeKorisnika" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".KreiranjeZadatak" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PregledEvidencije" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PretragaKlijenata" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PretragaKorisnika" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PretragaIzvjestaja" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PretragaZadataka" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PromjenaSifre" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".UpravljanjeZadacima" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".ZadaciZaposlenika" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PrikazKorisnika" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".PrikazZadatka" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".MyTasks" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".FinnishedTask" android:windowSoftInputMode="stateHidden"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
